{% extends 'master.html' %}

{% block title %}
Min and max price for producer
{% endblock %}

{% block content %}
<div id="container" style="width: 75%;">
  <canvas id="pie-chart"></canvas>
  {{"Min and max price for producer of mobile phones you have searched"}}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: JSON.parse("{{data}}".replace(/&quot;/g, '"')),
        backgroundColor: ['#990000', '#e60000'],
        label: 'Mobiles'
      }],
      labels: JSON.parse("{{labels}}".replace(/&quot;/g, '"'))
    },
    options: {
      responsive: true
    }
  };

  window.onload = function () {
    var ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };

</script>

{% endblock %}